<div class="navbar-expand-lg navbar-light bg-transparent mt-5">

<div id="wrap">
    <div id="main" class="container clear-top">
      <div class="row">
      <div class="col-8 mt-3">
      <ul class="navbar-nav mr-auto mt-5">
        <li class="nav-item active">
          <a class="nav-link mr-2 text-light" href="#">Logo <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-2 text-light" href="#"><i class="fa fa-facebook-square"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light mr-5" href="#"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light mr-2" href="#">Contattaci</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Privacy Policy</a>
        </li>
       
      </ul>
    </div>
    <div class="col-4 mt-3">
      <ul class="navbar-nav mt-2 ml-auto">
      <li class="nav-item">
        <a class="nav-link text-light mr-2" href="#"><img width="100" src="../../assets/imgs/apple-128x128.png" alt="apple"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#"><img width="100" src="../../assets/imgs/android-128x128.png" alt="android"></a>
      </li>
    </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <p style="font-weight: 200;" class="text-center text-light">Copyright JustPesce 2020</p>
    </div>
   
  </div>

    </div>
    
  </div>
  
  <footer class="footer"></footer>
</div>