<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <h1 class="display-1 ml-5 mt-5">Entra a far parte di Just Pesce</h1>

        </div>
    </div>
    
</div>

<div class="container" style="margin-top: 7%;margin-bottom:1%">
    <div class="row">
        <div class="col-6 ml-auto">
          
          <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Entra a far parte del mondo di just pesce</mat-card-title>
            <mat-card-subtitle>Compila il form per inoltrarci la tua richiesta</mat-card-subtitle>
          </mat-card-header>
          
          <mat-card-content>

            <form [formGroup]="formRegAmm" class="example-form mt-4">

              <div class="col">
                <mat-form-field class="example-full-width">
                  <mat-label>Nome attività</mat-label>
                  <input  type="text" matInput [formControl]="nomeNegozio" placeholder="Ex. pat@example.com">
                  <mat-error *ngIf="nomeNegozio.hasError('required')">
                    Nome negozio obbligatorio
                  </mat-error>
                </mat-form-field>
              </div>


              <div class="col-12 mt-2">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input  type="email" matInput [formControl]="emailFormControl" placeholder="">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Per favore inserisci un' email valida
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email obbligatoria
                </mat-error>
              </mat-form-field>
            </div>

            
            <div class="col-12 mt-2">
              <mat-form-field class="example-full-width">
                <mat-label>Telefono</mat-label>
                <input  type="email" matInput [formControl]="telefono" placeholder="" maxlength="10">
                <mat-error *ngIf="telefono.hasError('pattern') && !telefono.hasError('required')">
                  Per favore inserisci un numero di telefono valido
                </mat-error>
                <mat-error *ngIf="telefono.hasError('required')">
                  Telefono obbligatorio
                </mat-error>
              </mat-form-field>
            </div>


        
           
            </form>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button  style="background: #7E188A; color: #fff;" >Invia richiesta</button>
            <button mat-raised-button>Annulla</button>
          </mat-card-actions>
        </mat-card>
       
      </div>
</div>

