<div class="container-fluid">
    <div class="row">
        <div class="col-12">

                  <!--
                    CARD BOOTSTRAP  
                    
                    <h1 class="display-1 text-center mt-5">PRENOTA, RISPARMIA E VELOCIZZA I TUOI ACQUISTI</h1>
        
    </div>
 
    <div class="row mx-auto mt-5">
        <div class="card">
            <div class="card-header" style="color: #7E188A;">
              Divertiti a non perdere tempo, tutto a portata di mano!
            </div>
            <div class="card-body ">
              <h4 class="card-title">Inserisci il tuo indirizzo per trovare attività nei tuoi dintorni</h4>
              <div class="input-group mb-3">
               
                <input type="text" class="form-control" placeholder="Inserisci il tuo indirizzo">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button">Cerca</button>
                  </div>
              </div>
              
              
            </div>

          </div>
    </div> -->



            <h1  class="animate__animated animate__backInDown display-1 text-center mt-4">PRENOTA, RISPARMIA E VELOCIZZA I TUOI ACQUISTI</h1>
                          <div class="beside text-center mt-3 mb-3"><h3 class="type-text" #tw3></h3> </div>

                        <h1 class="tw" #tw></h1>
        </div>
        <div class="col-6 mx-auto mt-2">
            <mat-card class="example-card animate__animated animate__backInDown">
                <mat-card-header>

                    <h2 class="mat-h2" style="color: #7E188A;">Divertiti a non perdere tempo, tutto a portata di mano!
                        <mat-divider class="mt-2"></mat-divider>
                    </h2>
                </mat-card-header>
                <mat-card-header>
                    <span class="mat-h3">Inserisci il tuo indirizzo per trovare attività nei tuoi dintorni</span>
                </mat-card-header>

                <mat-card-content>
                    <mat-card-header>

                        <form  style="width: 100%;">
                            <mat-form-field class="mr-3" style="width: 80%;">
                                <mat-label>Inserisci il tuo indirizzo</mat-label>
                              <input  matInput type="text">
                            </mat-form-field>
                            <button mat-raised-button type="button" style="background: #13A8A8;color:#fff" aria-label="Save name">
                              Cerca
                            </button>
                          </form>
                    </mat-card-header>
                    

                </mat-card-content>

            </mat-card>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto mt-2 mb-4">
         
                    <h2 style="text-transform: uppercase;color:#7E188A" class="display-2 text-center mt-5">
                        Attività, negozi e molto altro</h2>
          
                </div>
            </div>
        </div>

        <div class="container text-center">
            <div class="row">
                <div class="col-4">
                    <div class="md-2-line" (click)="prova()">
                        <img class="md-avatar av" src="https://dummyimage.com/200x200/000/fff"  style="width:100px; border-radius: 80px;" />
                        <div class="md-list-item-text" layout="column">
                          <h3>Negozi</h3>
                            
                        </div>
                    </div>
            </div>
            <div class="col-4">
               
                <div class="md-2-line">
                    <img  class="md-avatar av" src="https://dummyimage.com/200x200/000/fff" style="width:100px; border-radius: 80px;" />
                    <div class="md-list-item-text" layout="column">
                      <h3>Ristoranti</h3>
               
                    </div>
                </div>
           
            </div>
            <div class="col-4">
                <div class="md-2-line">
                    <img class="md-avatar av" src="https://dummyimage.com/200x200/000/fff"  style="width:100px; border-radius: 80px;" />
                    <div class="md-list-item-text" layout="column">
                      <h3>Attività</h3>
                    
                    </div>
                </div>
            </div>
               <mat-divider></mat-divider>
            </div>
     
            
        </div>

        <div class="container text-center">
            <h2 style="text-transform: uppercase;color:#7E188A" class="display-2 text-center mt-5">In evidenza nei tuoi dintorni</h2>
        </div>


        <div class="container text-center "data-aos="zoom-in">
                    <img src="https://dummyimage.com/400x200/000/fff" class="mr-2" alt="">
                    <img class="" src="https://dummyimage.com/600x200/000/fff" alt="">
        </div>

        <div class="container text-center mt-3"data-aos="zoom-in">
            <img class="" src="https://dummyimage.com/600x200/000/fff" class="mr-2" alt="">
            <img src="https://dummyimage.com/400x200/000/fff"  alt="">
            
        </div>

        
        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto">
                    <h2 style="text-transform: uppercase;color:#7E188A;font-size: 16px;"
                     class="display-3 text-center mt-5">
                     Prenota i tuoi prodotti preferiti, organizza le tue attività giornaliere e gestisci al meglio il tuo tempo
                    </h2>
                    <p class="text-center">
                        Con "Just Pesce" puoi prenotare attraverso il nostro sito web o applicazione mobile i prodotti che preferisci. 
                        Eviti le file e hai sempre a disposizione la lista completa dei prodotti disponibili.
                        Scopri anche tutte le attività che puoi organizzare con un semplice click.
                    </p>
                </div>
            </div>
        </div>

        <div class="container text-center">
            <div class="row">
                <div class="col-12">
                    <img width="150"  class="mr-2" src="../../assets/imgs/apple-256x256.png" alt="">
                    <img width="150" src="../../assets/imgs/android-256x256.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-6 mb-4">
                    <mat-card class="example-card" data-aos="flip-right"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="1500">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Negozi partner</mat-card-title>
                          <mat-card-subtitle>Incrementa le tue vendite con noi</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                           Dai una svolta alla tua attività. Con just pesce gestisci prodotti, ordini e le tue vendite. Tutto a portata di mano.
                           Una volta provato non potrai più farne a meno!
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button (click)="regAmm()" mat-raised-button style="background: #13A8A8;color: #fff;">Diventa un nostro partner</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
                <div class="col-6 mb-4">
                    <mat-card class="example-card" data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="1500">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Lavora con noi</mat-card-title>
                          <mat-card-subtitle>Immergiti nel mondo di just pesce e dai spazio alle tue capacità</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                           Curiosità, impegno e immaginazione. Se sei motivato nel cambiare le regole della produttività, entra a far parte del nostro team!
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-raised-button style="background: #13A8A8;color: #fff;">Unisciti al nostro team</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
            </div>

            <div class="row">
                <button id="btn-form" data-aos="zoom-in-down" data-aos-duration="1000" class="btn btn-outline-secondary mx-auto">Contattaci per qualsiasi informazione</button>
            </div>
        </div>


  


    </div>