<div class="container">
    <div class="row">
        <div class="col">
            <h1>Prova indirizzo</h1>
            <input type="text" (change)="search($event)" [value]="selectedAddress">
            <ul class="list-group list-group-flush" *ngIf="addresses.length>0">
                <li (click)="onSelect(address)" *ngFor="let address of addresses"
                 class="list-group-item">{{address}}</li>

              </ul>
        </div>
    </div>
</div>

