::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
  }
  ::ng-deep .mat-tab-list .mat-tab-labels 
  {    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;}
  

  ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #fff;
}

