<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <h1 class="display-1 ml-5 mt-5">Gestione magazzino di Pesce Fresco</h1>

        </div>
    </div>
    
</div>

<div class="container"  style="margin-top: 7%;margin-bottom:1%">
    <div class="row">
        <div class="col">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
              
                  <!-- Id Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>
              
                  <!-- Nome Column -->
                  <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome Prodotto </th>
                    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                  </ng-container>
              
                  <!-- Quantita Column -->
                  <ng-container matColumnDef="quantita">
                    <th mat-header-cell *matHeaderCellDef> Quantità </th>
                    <td mat-cell *matCellDef="let element"> {{element.quantita}} </td>
                  </ng-container>
                  
              
                  <!-- Prezzo Column -->
                  <ng-container matColumnDef="prezzo">
                    <th mat-header-cell *matHeaderCellDef> Prezzo </th>
                    <td mat-cell *matCellDef="let element"> {{element.prezzo}} </td>
                  </ng-container>

                  <!-- Btn Column -->
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" >
                      <button id="btn-modifica" (click)="modaleModifica()" mat-raised-button><mat-icon>edit</mat-icon></button>
                      <button mat-raised-button (click)="modaleElimina()" class="ml-2"><mat-icon>delete_outline</mat-icon></button>
                      <button mat-raised-button #tooltip="matTooltip"
                      matTooltip="DISPONIBILE O MENO ALLA VENDITA"
                      [matTooltipPosition]="position.value"
                      matTooltipHideDelay="1"
                      aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                      class="example-button"
                      id='element.id' mat-raised-button  
                      (click)="element.visualizza = !element.visualizza"
                       class="ml-2">
                       <mat-icon matSuffix>{{element.visualizza ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </button> 
                    </td>
                </ng-container>

                
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  
                </table>
            
              
                <div id="last-elements" class="row">
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                  <button (click)="addProdotto()" id="btn-add" mat-fab style="background: #7E188A;color: #fff;" aria-label="Example icon button with a bookmark icon">
                    <mat-icon>add</mat-icon>
                  </button>
  
                </div>
     
              </div>
        </div>
        
    </div>
    
</div>