::ng-deep .mat-form-field-ripple {
    background-color: #7E188A !important;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
      color: #7E188A !important;
      opacity: 0.7;
    }


    ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
      background-color: #7E188A !important;   /*inner circle color change*/
    }

    ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
      border-color:#13A8A8 !important; /*outer ring color change*/
     }