<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="col-4">
        
            
            <mat-card appMaterialElevation class="example-card">              
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Gestione Magazzino</mat-card-title>             
                <mat-card-content  [routerLinkActive]="['active']" [routerLink]="['gestione-magazzino']"  >
                  <p>
                    Clicca per gestire il tuo magazzino. Inserisci I tuoi prodotti e modificane le quantittà a tuo piacimento.
                  </p>
                  <button  style="background:  #7E188A;color:#fff" mat-raised-button color="primary">Clicca qui</button>
                </mat-card-content>
              </mat-card>
            </div>

            <div class="col-4">
            
                <mat-card  appMaterialElevation class="example-card">              
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Gestione Ordini</mat-card-title>             
                    <mat-card-content>
                      <p>
                        Clicca per gestire rapidamente e in maniera ordinata il flusso dei tuoi ordini e dei prodotti venduti.
                      </p>
                      <button  style="background:  #7E188A;color:#fff" mat-raised-button color="primary">Clicca qui</button>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="col-4">
            
                    <mat-card  appMaterialElevation class="example-card">              
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Storico / Resoconto</mat-card-title>             
                        <mat-card-content>
                          <p>
                            Clicca per guardare il resoconto degli ordini effettuati, delle tue prenotazioni 
                            e dei prodotti in uscita.
                          </p>
                          <button  style="background:  #7E188A;color:#fff;" mat-raised-button color="primary">Clicca qui</button>
                        </mat-card-content>
                      </mat-card>
                    </div>

        </div>

</div>