<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <h1 class="display-1 ml-5 mt-5">Bentornato Pesce Fresco</h1>
            <p class="h6 text-light ml-5">Gestisci la tua attività, scegli l'opzione desiderata cliccando su uno delle card sottostanti</p>


        </div>
    </div>
    
</div>

<div class="container" style="margin-top: 10%;">
    <div class="row">
        <div class="mx-auto col-8 col-lg-8 col-md-6 col-xs-8">
            
            <mat-card  appMaterialElevation class="example-card">
                
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Gestione Magazzino</mat-card-title>
               
                <mat-card-content>
                  <p>
                    Clicca per gestire il tuo magazzino. Inserisci I tuoi prodotti e modificane le quantittà a tuo piacimento.
                  </p>
                  <button  style="background:  #7E188A;color:#fff" mat-raised-button color="primary">Clicca qui</button>
                </mat-card-content>

              </mat-card>

              <mat-card class="example-card mt-4">
                
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Gestione Ordini</mat-card-title>
             
              <mat-card-content>
                <p>
                  Clicca per gestire rapidamente e in maniera ordinata il flusso dei tuoi ordini e dei prodotti venduti.
                </p>
                <button  style="background:  #7E188A;color:#fff" mat-raised-button color="primary">Clicca qui</button>
              </mat-card-content>

            </mat-card>


            <mat-card class="example-card mt-4">
                
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Storico / Resoconto</mat-card-title>
             
              <mat-card-content>
                <p>
                  Clicca per guardare il resoconto degli ordini effettuati, delle tue prenotazioni 
                  e dei prodotti in uscita.
                </p>
                <button  style="background:  #7E188A;color:#fff" mat-raised-button color="primary">Clicca qui</button>
              </mat-card-content>

            </mat-card>
            
        </div>
    </div>
</div>